.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: auto;
    padding: 25px 0;
    max-width: 300px;

    list-style: none;
}

.pagination li {
    text-align: center;
    height: 25px;
    width: 25px;
    border-radius: 7px;
    cursor: pointer;
}

.pagination li:hover {
    background-color:#38a169;
    color: #fff;
    transition: all ease-in-out 100ms;
}

.pagination li.active {
    background-color:#38a169;
    color: #fff;
}

.pagination li:not(:first-child):not(:last-child) a {
    font-size: 12px;
}